<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ww.qrtest.mybatisplus.mapper.DictionaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ww.qrtest.mybatisplus.domain.Dictionary">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="value" property="value" />
        <result column="seq_no" property="seqNo" />
        <result column="seq_cn" property="seqCn" />
        <result column="sort" property="sort" />
        <result column="acronym" property="acronym" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creator" property="creator" />
        <result column="level" property="level" />
        <result column="parent" property="parent" />
        <result column="dict_status" property="dictStatus" />
        <result column="name_id" property="nameId" />
    </resultMap>
    <select id="selectAll" resultType="ww.qrtest.mybatisplus.domain.DictionaryVo">
        SELECT
        `name` ,seq_no,`value`,parent
        FROM t_sys_dictionary
        WHERE `level`>1
    </select>
    <insert id="saveList">
        INSERT into t_sys_dictionary
        (name,`value`,seq_no,seq_cn,level,parent)
        VALUES
        <foreach collection="list" index="index" item="item"
                 separator=",">
            (#{item.name},#{item.value},#{item.seqNo},#{item.seqCn},#{item.level},#{item.parent})
        </foreach>
    </insert>
    <delete id="deleteCity">
        DELETE FROM t_sys_dictionary WHERE seq_no LIKE concat(#{seqNo},'%')
    </delete>

</mapper>
