<component name="ArtifactManager">
  <artifact type="jar" name="mybatisplus:jar">
    <output-path>$PROJECT_DIR$/out/artifacts/mybatisplus_jar</output-path>
    <root id="archive" name="mybatisplus.jar">
      <element id="module-output" name="mybatisplus" />
      <element id="extracted-dir" path="G:/maven_repositories/com/github/pagehelper/pagehelper/5.1.4/pagehelper-5.1.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/junit/junit/4.12/junit-4.12.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-beans/5.1.5.RELEASE/spring-beans-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/plugin/spring-plugin-core/1.2.0.RELEASE/spring-plugin-core-1.2.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/javassist/javassist/3.21.0-GA/javassist-3.21.0-GA.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-autoconfigure/2.1.3.RELEASE/spring-boot-autoconfigure-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/fasterxml/jackson/datatype/jackson-datatype-jdk8/2.9.8/jackson-datatype-jdk8-2.9.8.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/ch/qos/logback/logback-classic/1.2.3/logback-classic-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/netty/netty-transport/4.1.33.Final/netty-transport-4.1.33.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-actuator/2.1.3.RELEASE/spring-boot-starter-actuator-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/swagger/swagger-annotations/1.5.14/swagger-annotations-1.5.14.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/hibernate/validator/hibernate-validator/6.0.14.Final/hibernate-validator-6.0.14.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/vaadin/external/google/android-json/0.0.20131108.vaadin1/android-json-0.0.20131108.vaadin1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/netty/netty-buffer/4.1.33.Final/netty-buffer-4.1.33.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/logging/log4j/log4j-api/2.11.2/log4j-api-2.11.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/google/guava/guava/16.0.1/guava-16.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/assertj/assertj-core/3.11.1/assertj-core-3.11.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/commons/commons-collections4/4.1/commons-collections4-4.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/jboss/logging/jboss-logging/3.3.2.Final/jboss-logging-3.3.2.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/plugin/spring-plugin-metadata/1.2.0.RELEASE/spring-plugin-metadata-1.2.0.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/cn/hutool/hutool-all/4.4.5/hutool-all-4.4.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-context/5.1.5.RELEASE/spring-context-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/tomcat/embed/tomcat-embed-el/9.0.16/tomcat-embed-el-9.0.16.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/cn/afterturn/easypoi-web/3.2.0/easypoi-web-3.2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/data/spring-data-commons/2.1.5.RELEASE/spring-data-commons-2.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/jsonwebtoken/jjwt/0.6.0/jjwt-0.6.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/net/minidev/json-smart/2.3/json-smart-2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-test/2.1.3.RELEASE/spring-boot-test-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/cn/afterturn/easypoi-base/3.2.0/easypoi-base-3.2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-context-support/5.1.5.RELEASE/spring-context-support-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/baomidou/mybatis-plus-generator/3.0.6/mybatis-plus-generator-3.0.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter/2.1.3.RELEASE/spring-boot-starter-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/net/minidev/accessors-smart/1.2/accessors-smart-1.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/net/bytebuddy/byte-buddy-agent/1.9.10/byte-buddy-agent-1.9.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-json/2.1.3.RELEASE/spring-boot-starter-json-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/netty/netty-common/4.1.33.Final/netty-common-4.1.33.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/baomidou/mybatis-plus-support/2.3/mybatis-plus-support-2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-test-autoconfigure/2.1.3.RELEASE/spring-boot-test-autoconfigure-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/mockito/mockito-core/2.23.4/mockito-core-2.23.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/lettuce/lettuce-core/5.1.4.RELEASE/lettuce-core-5.1.4.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/tomcat/embed/tomcat-embed-websocket/9.0.16/tomcat-embed-websocket-9.0.16.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/reflections/reflections/0.9.11/reflections-0.9.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/xmlbeans/xmlbeans/2.6.0/xmlbeans-2.6.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/velocity/velocity-engine-core/2.0/velocity-engine-core-2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/yaml/snakeyaml/1.23/snakeyaml-1.23.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/mybatis/spring/boot/mybatis-spring-boot-starter/1.3.2/mybatis-spring-boot-starter-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-aop/5.1.5.RELEASE/spring-aop-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/fasterxml/classmate/1.4.0/classmate-1.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/cn/afterturn/easypoi-annotation/3.2.0/easypoi-annotation-3.2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/data/spring-data-keyvalue/2.1.5.RELEASE/spring-data-keyvalue-2.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/springfox/springfox-spi/2.8.0/springfox-spi-2.8.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/netty/netty-resolver/4.1.33.Final/netty-resolver-4.1.33.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/swagger/swagger-models/1.5.14/swagger-models-1.5.14.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/mybatis/spring/boot/mybatis-spring-boot-autoconfigure/1.3.2/mybatis-spring-boot-autoconfigure-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/objenesis/objenesis/2.6/objenesis-2.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-configuration-processor/2.1.3.RELEASE/spring-boot-configuration-processor-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/github/pagehelper/pagehelper-spring-boot-autoconfigure/1.2.5/pagehelper-spring-boot-autoconfigure-1.2.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-test/2.1.3.RELEASE/spring-boot-starter-test-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-jdbc/5.1.5.RELEASE/spring-jdbc-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot/2.1.3.RELEASE/spring-boot-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-actuator-autoconfigure/2.1.3.RELEASE/spring-boot-actuator-autoconfigure-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-web/5.1.5.RELEASE/spring-web-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/springfox/springfox-swagger-ui/2.8.0/springfox-swagger-ui-2.8.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/projectlombok/lombok/1.18.2/lombok-1.18.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/fasterxml/jackson/datatype/jackson-datatype-jsr310/2.9.8/jackson-datatype-jsr310-2.9.8.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/poi/poi-ooxml-schemas/3.15/poi-ooxml-schemas-3.15.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/javax/annotation/javax.annotation-api/1.3.2/javax.annotation-api-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/stax/stax-api/1.0.1/stax-api-1.0.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-test/5.1.5.RELEASE/spring-test-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/baomidou/mybatis-plus-core/3.0.6/mybatis-plus-core-3.0.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/github/pagehelper/pagehelper-spring-boot-starter/1.2.5/pagehelper-spring-boot-starter-1.2.5.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/fasterxml/jackson/core/jackson-core/2.9.8/jackson-core-2.9.8.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-web/2.1.3.RELEASE/spring-boot-starter-web-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-tx/5.1.5.RELEASE/spring-tx-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-core/5.1.5.RELEASE/spring-core-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/data/spring-data-redis/2.1.5.RELEASE/spring-data-redis-2.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-jcl/5.1.5.RELEASE/spring-jcl-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/baomidou/mybatis-plus-annotation/3.0.6/mybatis-plus-annotation-3.0.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/fasterxml/jackson/core/jackson-databind/2.9.8/jackson-databind-2.9.8.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-actuator/2.1.3.RELEASE/spring-boot-actuator-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/commons-codec/commons-codec/1.11/commons-codec-1.11.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-tomcat/2.1.3.RELEASE/spring-boot-starter-tomcat-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/poi/poi-ooxml/3.15/poi-ooxml-3.15.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-expression/5.1.5.RELEASE/spring-expression-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/tomcat/embed/tomcat-embed-core/9.0.16/tomcat-embed-core-9.0.16.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-jdbc/2.1.3.RELEASE/spring-boot-starter-jdbc-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/net/bytebuddy/byte-buddy/1.9.10/byte-buddy-1.9.10.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/zaxxer/HikariCP/3.2.0/HikariCP-3.2.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/reactivestreams/reactive-streams/1.0.2/reactive-streams-1.0.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/fasterxml/jackson/core/jackson-annotations/2.9.0/jackson-annotations-2.9.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/slf4j/jul-to-slf4j/1.7.25/jul-to-slf4j-1.7.25.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/xmlunit/xmlunit-core/2.6.2/xmlunit-core-2.6.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/latencyutils/LatencyUtils/2.0.3/LatencyUtils-2.0.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/github/jsqlparser/jsqlparser/1.0/jsqlparser-1.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/fasterxml/jackson/module/jackson-module-parameter-names/2.9.8/jackson-module-parameter-names-2.9.8.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/hamcrest/hamcrest-library/1.3/hamcrest-library-1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/mybatis/mybatis-spring/1.3.2/mybatis-spring-1.3.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/skyscreamer/jsonassert/1.5.0/jsonassert-1.5.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/baomidou/mybatis-plus-boot-starter/3.0.6/mybatis-plus-boot-starter-3.0.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/jayway/jsonpath/json-path/2.4.0/json-path-2.4.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/springfox/springfox-core/2.8.0/springfox-core-2.8.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/netty/netty-handler/4.1.33.Final/netty-handler-4.1.33.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/baomidou/mybatis-plus-extension/3.0.6/mybatis-plus-extension-3.0.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/baomidou/mybatis-plus/3.0.6/mybatis-plus-3.0.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/mapstruct/mapstruct/1.2.0.Final/mapstruct-1.2.0.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-logging/2.1.3.RELEASE/spring-boot-starter-logging-2.1.3.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/springfox/springfox-swagger-common/2.8.0/springfox-swagger-common-2.8.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-webmvc/5.1.5.RELEASE/spring-webmvc-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/netty/netty-codec/4.1.33.Final/netty-codec-4.1.33.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/ow2/asm/asm/5.0.4/asm-5.0.4.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/javax/validation/validation-api/2.0.1.Final/validation-api-2.0.1.Final.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/poi/poi/3.15/poi-3.15.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/springfox/springfox-spring-web/2.8.0/springfox-spring-web-2.8.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/spring-oxm/5.1.5.RELEASE/spring-oxm-5.1.5.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/projectreactor/reactor-core/3.2.6.RELEASE/reactor-core-3.2.6.RELEASE.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/com/github/virtuald/curvesapi/1.04/curvesapi-1.04.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/hdrhistogram/HdrHistogram/2.1.9/HdrHistogram-2.1.9.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/springfox/springfox-schema/2.8.0/springfox-schema-2.8.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/mybatis/mybatis/3.4.6/mybatis-3.4.6.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/ch/qos/logback/logback-core/1.2.3/logback-core-1.2.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/springfox/springfox-swagger2/2.8.0/springfox-swagger2-2.8.0.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/mysql/mysql-connector-java/8.0.15/mysql-connector-java-8.0.15.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/io/micrometer/micrometer-core/1.1.3/micrometer-core-1.1.3.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/commons/commons-lang3/3.8.1/commons-lang3-3.8.1.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/apache/logging/log4j/log4j-to-slf4j/2.11.2/log4j-to-slf4j-2.11.2.jar" path-in-jar="/" />
      <element id="extracted-dir" path="G:/maven_repositories/org/springframework/boot/spring-boot-starter-data-redis/2.1.3.RELEASE/spring-boot-starter-data-redis-2.1.3.RELEASE.jar" path-in-jar="/" />
    </root>
  </artifact>
</component>